// colors
$green : rgba(76, 225, 101, 0.85);
$red : #e14c4c;
$blue : #6C77F6;
$white : #f8f8f8;
$gray : rgba(0, 0, 0, 0.1);
$darkgray : #393939;
$black : #393939;


//sizes
$side-section : 20%;
$main-section : 80%;
$avatar : 64;


//fonts
$main-font : 'segoe UI', Quicksand, 'sans-serif';
$header-font : Quicksand;



