// colors
$green : #4CE165D8;
$red : #e14c4c;
$blue : #6C77F6;
$white : #f8f8f8;
$gray : #00000019;
$darkgray : #393939;
$black : #7a7a7a;


//sizes
$side-section : 20%;
$main-section : 80%;
$avatar : 64;


//fonts
$main-font : 'segoe UI', Quicksand, 'sans-serif';
$header-font : Quicksand;



body{
    margin: 0;
    font-family: $main-font;
    color: $darkgray;
    background-color: $gray;
    overflow: revert;
}


#main {
    width: 100%;
}
