@import "./variables";


a{
    text-decoration: none;
    color: $white;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

#side-section{
    width: $side-section;
    background-color: $blue;
}

.header{
    font: normal normal bold 1.6rem/20px $header-font;
    cursor: default;
    user-select: none;
    justify-content: flex-start;
    align-items: center;
}
#side-section .header{
        padding: 8px 8px;
}
#avatar{
    height: $avatar + px;
    width: $avatar + px;
    border-radius: calc(($avatar + 2)/2) + px;
    border: solid 2px $white;
}

#user-name{
    margin: 0 0 0 8px;
    span{
        font: normal normal 400 1rem/10px $main-font;
        color: $white;
    }
}

#side-selections{
    padding: 14px 10px;
    div{
        margin: 6px 0;
    }
    a{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{
            margin: 0 8px 0 0;
        }
    }

}



#main-section{
    background-color: $gray;
    width: $main-section - 4%;
    overflow: auto;
    padding: 20px 2%;
}

#headline{
    justify-content: space-between;
    align-items: center;
    margin: 0 0 16px 0;
    :first-child{
        .button{
            background-color: $blue;
        }
    }
}


.button{
    color: $white;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: $red;
    padding: 6px 12px;
    border: 0;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}
.button:hover{
    box-shadow: lighten($darkgray,32) -3px 4px 9px -1px;
}

.button-clear{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 6px 12px;
    cursor: pointer;

    color: inherit;
    background-color: inherit;
    border:0;
}








#side-section .header{
    background-color: rgba(222, 226, 226, 0.31);
}

.section {
    background-color: $white;
    border-radius: 4px;
    box-shadow: lighten($darkgray,42) 0 0 6px  0;
    font-size: 1.05rem;
    .center-text{
        justify-content: center;
    }
    .item-row:first-child{
        color: $black;
        //cursor: pointer;
        user-select: none;
    }
    .item-row{
        padding: 6px 14px;
        border-bottom: 1px solid $gray;
        align-items: center;
        .item{
            width: 20%;
            display: flex;
            align-items: center;
        }
        //:last-child{
        //    justify-content: space-evenly;
        //}
        .item-wide{
            width: 40%;
        }
        a{
            color: $darkgray;
        }
    }

    //.item-row:hover{
    //    background-color: $gray;
    //}
    //.item-row:first-child:hover{
    //    background-color: $white;
    //    border-radius: inherit;
    //}

    .item-row:last-child{
        border-bottom: 0 solid $gray;
    }
}

.sec-pad{
    padding: 6px 14px;
}



.status{
    background-color: $green;
    border-radius: 20px;
    color: $white;
    padding: 2px 18px 4px 18px;
    user-select: none;
}

.button-g{
    background-color: $green;
    justify-content: center;
    width: 13%;
    min-width: fit-content;
    border:0;
}

.input{
    background-color: $white;
    border: 2px solid $green;
    width: 98%;
    font-size: 1rem;
    padding: 5px 1%;
    margin: 12px 0 28px 0;
    border-radius: 12px;
    color: $darkgray;
}



//delivers > index
#delivers{

    .item-row{
        .item{
            width: 36%;
            button{
                border: 0;
                background-color: inherit;
                cursor: pointer;
            }
        }
        .item-small{
            width: 10%;
        }
        .item:last-child{
            width: 18%;
        }
    }
}

#orders{
    .item-row{
        .item{
            button{
                border: 0;
                background-color: inherit;
                cursor: pointer;
            }
        }
    }
}
