@import "./variables";

$avatar : 72px;


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    color: $white;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: $blue;
    padding: 6px 12px;
    border: 0;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}
button:hover{
    box-shadow: lighten($darkgray,32) -3px 4px 9px -1px;
}

.green{
    background-color: $green;
}



#header{
    width: 100%;
    background-color: $white;
    color: $black;
    padding: 4px 0;
    border-bottom: 4px solid $blue;
    box-shadow: lighten($darkgray,32) 0 0 2px  0;
    font-size: 1.32rem;
    .item{
        cursor: pointer;
        margin: 0 6px;
        button{
            font-size: inherit;
            color: $white;
            cursor: pointer;
        }
    }
    .item-ef:hover{
        border-bottom: 2px solid $blue;
        padding: 6px 0;
    }
    .active{
        color: $blue;
    }
    .active:hover{
        border-bottom: 0;
        padding: 0;
    }
}
#logo{
    height: 48px;
    margin-left: 4%;
    cursor: pointer;
}

#user{
    img{
        height: $avatar;
        width: $avatar;
        border-radius: calc((($avatar)/2)) + 3;
        border: 3px solid $blue;
    }
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-section{
    width: $main-section;
}

.header{
    font-size: 1.8rem;
    margin: 24px 0;
}

.orders{
    .order-card{
        border-radius: 16px;
        background-color: $white;
        padding: 12px 1.5%;
        align-items: flex-start;
        box-shadow: lighten($darkgray,32) -1px 1px 3px -1px;
        .card-info{
            font-size: 1.23rem;
            font-weight: 500;
            text-align: center;
            img{
                border-radius: 16px;
                height: 124px;
                border: 2px solid $gray;
            }
        }

        .card-body{
            color: $black;
            font-size: 1.15rem;
            width: 100%;
            margin-left: 18px;
        }
    }
}



.center-text{
    justify-content: center;
}
.item-row:first-child{
    color: $black;
    //cursor: pointer;
    user-select: none;
}
.item-row{
    padding: 6px 14px;
    border-bottom: 1px solid $gray;
    align-items: center;
    .item{
        width: 15%;
        display: flex;
        align-items: center;
    }

    .item-wide{
        width: 27.5%;
    }

    a{
        color: $darkgray;
        text-decoration: none;
    }
}

.item-row:last-child{
    border-bottom: 0 solid $gray;
}

.card{
    text-align: center;
    label{
        float: left;
        margin-left: 4%;
        font-size: 1.2rem;
    }
    input{
        width: 90%;
        padding: 6px 1%;
        margin: 8px 0;
        font-size: 1.1rem;
        color: $black;
    }
    input:last-child{
        color: $white;
        font-size: 1.2rem;
        background-color: $blue;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
    }
    input:last-child:hover{
        box-shadow: lighten($darkgray,32) -3px 4px 9px -1px;
    }
}
